# escape code

In [1]:
import pandas as pd

In [2]:
pwd

'/mnt/c/edu'

In [3]:
df1 = pd.read_csv('/mnt/c/edu/py_data/주유소/서울특별시주유소(위도,경도).csv', index_col=0, encoding='euc-kr')
df1.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유,위도,경도
0,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1587,1423,1229,-,37.485800,127.039675
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1425,1225,-,37.467210,127.118713
2,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,1597,1433,1239,-,37.485377,127.043307
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,GS칼텍스,02-2226-4963,Y,-,1445,1245,-,37.466478,127.119039
4,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,1612,1448,1254,1070,37.487391,127.039995

In [4]:
pd.set_option('display.max_rows', 10)   # 10 or None

In [5]:
df1.iloc[:10, 2]

0      서울 강남구 남부순환로 2651 (도곡동)
1        서울 강남구  헌릉로 731 (세곡동)
2    서울 강남구  남부순환로 2718 (도곡2동)
3               서울 강남구 헌릉로 730
4         서울 강남구 논현로 152 (도곡동)
5        서울 강남구 밤고개로 215 (율현동)
6        서울 강남구 밤고개로 120 (자곡동)
7               서울 강남구 역삼로 142
8         서울 강남구 언주로 423 (역삼동)
9               서울 강남구 언주로 307
Name: 주소, dtype: object

# 데이터 분할

In [6]:
df1['구'] = [i.split()[1] for i in df1['주소']]

df1.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유,위도,경도,구
0,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1587,1423,1229,-,37.485800,127.039675,강남구
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1425,1225,-,37.467210,127.118713,강남구
2,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,1597,1433,1239,-,37.485377,127.043307,강남구
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,GS칼텍스,02-2226-4963,Y,-,1445,1245,-,37.466478,127.119039,강남구
4,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,1612,1448,1254,1070,37.487391,127.039995,강남구

- 데이터 고유값(목록) 출력

In [7]:
print(len(df1['구'].unique()))
df1['구'].unique()

25

array(['강남구', '강동구', '강북구', '강서구', '관악구', '광진구', '구로구', '금천구', '노원구',
       '도봉구', '동대문구', '동작구', '마포구', '서대문구', '서초구', '성동구', '성북구', '송파구',
       '양천구', '영등포구', '용산구', '은평구', '종로구', '중구', '중랑구'], dtype=object)

In [8]:
tmp = df1[df1['구']=='강남구']

print(tmp.shape)
display(tmp.head())

(40, 13)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유,위도,경도,구
0,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1587,1423,1229,-,37.485800,127.039675,강남구
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731 (세곡동),SK에너지,02-445-6870,Y,-,1425,1225,-,37.467210,127.118713,강남구
2,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718 (도곡2동),현대오일뱅크,02-529-5101,Y,1597,1433,1239,-,37.485377,127.043307,강남구
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,GS칼텍스,02-2226-4963,Y,-,1445,1245,-,37.466478,127.119039,강남구
4,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152 (도곡동),현대오일뱅크,02-3462-5215,N,1612,1448,1254,1070,37.487391,127.039995,강남구

# 실습: 주소에 동이름 제거하기

In [9]:
df2 = df1
df2.head(1)

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유,위도,경도,구
0,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651 (도곡동),SK에너지,02-3462-5100,Y,1587,1423,1229,-,37.4858,127.039675,강남구

In [10]:
df2['주소'] = [i.split('(')[0] for i in df2['주소']]
df2.head()

,지역,상호,주소,상표,전화번호,셀프여부,고급휘발유,휘발유,경유,실내등유,위도,경도,구
0,서울특별시,오일프러스 셀프,서울 강남구 남부순환로 2651,SK에너지,02-3462-5100,Y,1587,1423,1229,-,37.485800,127.039675,강남구
1,서울특별시,(주)보성 세곡주유소,서울 강남구 헌릉로 731,SK에너지,02-445-6870,Y,-,1425,1225,-,37.467210,127.118713,강남구
2,서울특별시,현대오일뱅크 도곡셀프주유소,서울 강남구 남부순환로 2718,현대오일뱅크,02-529-5101,Y,1597,1433,1239,-,37.485377,127.043307,강남구
3,서울특별시,GS칼텍스(주)직영 산성주유소,서울 강남구 헌릉로 730,GS칼텍스,02-2226-4963,Y,-,1445,1245,-,37.466478,127.119039,강남구
4,서울특별시,현대오일뱅크(주) 유진주유소,서울 강남구 논현로 152,현대오일뱅크,02-3462-5215,N,1612,1448,1254,1070,37.487391,127.039995,강남구

In [11]:
pd.set_option('display.max_rows', 10)
df2['주소']

0       서울 강남구 남부순환로 2651
1         서울 강남구  헌릉로 731
2      서울 강남구  남부순환로 2718
3           서울 강남구 헌릉로 730
4          서울 강남구 논현로 152
              ...
492         서울 중랑구 망우로 475
493       서울 중랑구 용마산로 309
494        서울 중랑구 망우로 229
495        서울 중랑구 동일로 881
496         서울 중랑구 상봉로 58
Name: 주소, Length: 497, dtype: object

In [12]:
pwd

'/mnt/c/edu'

In [13]:
df2.to_csv('/mnt/c/edu/py_data/주유소/서울특별시주유소(구분할).csv', encoding='euc-kr')